<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Log In</h1>
    {% if error == 'cred_inv' %}
        <h2>Invalid Credentials! Please Re-enter!</h2>
    {% endif %}
    {% if log_state == 'True' %}
        <h2>Successfully Logged Out</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="user" id="username"><br><br>

        <label for="pass">Password: </label>
        <input type="password" name="auth_pass" id="pass"><br><br>

        <button type="submit">Login</button>
    </form>
    <a href="/">Click Here to create a new User</a>
</body>
</html>